# AirVPN environment
AIRVPN_WG_PRIVATE_KEY=
AIRVPN_WG_PRESHARED_KEY=
AIRVPN_WG_ADDRESSES=
AIRVPN_INPUT_PORT=
AIRVPN_SERVER_REGIONS=

# qBittorrent Environment
QBIT_PUID=
QBIT_PGID=
QBIT_TZ=
QBIT_WEBUI_PORT=
QBIT_CONFIG=
QBIT_DOWNLOADS=
